@import '_variables';
@import 'functions';

$base: color(main);
$invalid: #e91e63;
$width: 400px;

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem !important;
}
.form-container {
    margin-bottom: 40px;
    position: relative;
    width: 50%;
}
  
.form-label {
    position: absolute;
    top: 0;
    left: 3rem;
    background: #fff;
    padding: 0.5rem 1rem;
    margin: 0;
    transform: translateY(-50%);
    color: color(textColor);
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      left: 0;
      z-index: -1;
    }
  
    &:before {
      top: 0;
    }
  
    &:after {
      bottom: 0;
    }
  }
  

  

  
  /* form starting stylings*/
  
  .group {
    position: relative;
    margin-bottom: 45px;
  }
  
  .form-input {
    background: transparent;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    color: color(textColor);
    border-bottom: 1px solid #6c757d;
  }
  
  .form-input:focus {
    outline: none;
  }
  
  /* LABEL */
  
  label {
    color: color(textColor);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
  }
  
  /* active state */

  .form-input:focus ~ label,
  .form-input:valid ~ label,
  input[type="email"]:focus ~ label, 
  input[type="email"]:valid ~ label,
  input[type="email"]:not(:placeholder-shown) ~ label, 
  textarea:not(placeholder-shown) ~ label,
  textarea:focus-within ~ label{
    top: -20px;
    font-size: 14px;
  }



  textarea:placeholder-shown ~ label, 
  textarea:placeholder-shown:focus ~ label {
    top: -10px !important;
    font-size: 18px !important;
    color: color(textColor) !important;
  }


  
  /* BOTTOM BARS */
  
  .bar {
    position: relative;
    display: block;
    width: 50%;
  }
  
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background: color(textColor);
    transition: 0.2s ease all;
  }
  
  .bar:before {
    left: 100%;
  }
  
  .bar:after {
    right: 0%;
  }
  
  /* active state */
  
  .form-input:focus ~ .bar:before,
  .form-input:focus ~ .bar:after{
    width: 100%;
  }
  

  input[type="email"] {
   & ~ span.validation-text {
      visibility: hidden;
      font-family: "roboto", sans-serif;
      width: $width;
      margin-top: -5px;
      color: white;
      transition: color 0.3s ease-in-out;
    }
    &:not([value=""]) {
      &::-webkit-input-placeholder {
        font-size: 0.8em;
        visibility: visible !important;
        opacity: 1;
      }
      &:focus::-webkit-input-placeholder {
        color: $base;
      }
      &:focus:not(:valid)::-webkit-input-placeholder {
        color: $invalid;
      }
    }
    &:focus {
      background-position: 0 0;
      &:not(:valid):not([value=""]) {
        border-bottom: solid 2px $invalid;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 96%,
          $invalid 4%
        );
      }
    }
    &:not(:focus):not(:valid):not([value=""]) {
      &::-webkit-input-placeholder {
        color: $invalid;
      }
      border-bottom: solid 1px $invalid;
      background-position: 0 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        $invalid 4%
      );
      & ~ span.validation-text {
        visibility: visible;
        color: $invalid;
      }
    }
  }


.other-contact {
  padding-top: 4rem;
}

@media screen and (max-width: 991px) {
  
  .form-container {
      width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .contact{
    padding: 9rem 3% 5rem 3% !important;
    height: unset;
  }
}

// Contact Title Styles
.contact-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 1.75rem;
  }
}