@import '_variables';
@import 'functions';
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
  }
.text-container h1{
    font-family: $font-nunito;
    font-size: 130px;
    color: rgba(136, 131, 131, 0.1);
    background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: cover;
    background-clip:text;
    animation: animate 18s linear infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  @keyframes animate {
    0%{
      background-position: left 0px top 10px;
    }
      40%{
        background-position: left 800px top 10px;
    }
  }
  .scroll-downs {
    position: relative;
    top: 10px;
    right: 40%;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid color(textColor);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: color(textColor);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  .homepage {
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
        .image {
            width: 45%;
            display: flex;
            justify-content: flex-end;

            img {
                width: 100%;
                border-bottom: 5px solid var(--text);
            }
        }
        .details {
            width: 55%;
            font-style: $font-raleway;
            h6 {
                text-transform: uppercase;
                letter-spacing: 0.2em;
                padding-bottom: 15px;
            }
            .my-name {
                font-size: 2.5em;
            }
            h1 {
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-weight: 600;
                font-size: 5em;
                margin-bottom: 0;
                line-height: 5rem;
            }
            .tag-dev {
                text-transform: uppercase;
                letter-spacing: 0.4em;
                font-weight: 400;
                font-size: 3.5em;
                color: color(textColor);
            }

            .tag-dev::after {
                content:"Developer";
                animation: changeText 7s infinite;
                padding: 5px 10px;
                background: linear-gradient(to left, transparent 50%, color(main) 50%) right;
                background-size: 0;
            }
            @keyframes changeText {
                50% {
                    content:"+Designer";
                    background-size: 205%;
                    background-position: left;
                }
                70% {
                    content:"Dev";
                    background-size: 80%;
                    background-position: left;
                }
                100% {
                    content:"Developer";
                    background-size: 205%;
                    background-position: left;
                }
            }

            p {
                padding-top: 10px;
                font-size: sizes(fontSizeM);
            }
        }
    }
  }
  

  

  @media screen and (max-width: 1150px) {
    .scroll-downs {
        display: none;
    }
    .homepage {
        .content {
            flex-direction: column;
            align-items: center;

            .image {
                display: none;
            }
            .details {
                width: 80%;
            }
            
        }
    }
      
  }


  @media screen and (max-width: 780px) {

    .homepage {

        .content {
            align-items: start;

            .image {
                display: none;
            }
            .details {
                width: 100%;

                .my-name {
                    font-size: 2em;
                }
                h1 {
                    font-size: 4em;
                }
                .tag-dev {
                    font-size: 3em;
                }
            }
        }
    }
      
  }



  @media screen and (max-width: 550px) {

    .homepage {

        .content {
            .details {
                width: 100%;
                h6 {
                    font-size: 0.8em; 
                    padding-bottom: 0;
                }
                .my-name {
                    font-size: 1.7em;
                }
                h1 {
                    font-size: 3.5em;
                }
                .tag-dev {
                    font-size: 2.5em;
                }
            }
        }
    }
  }


  @media screen and (max-width: 450px) {

    .homepage {
        .content {
            .details {
                width: 100%;
                h6 {
                    font-size: 0.7em;
                    padding-bottom: 0;
                }
                .my-name {
                    font-size: 1.5em;
                }
                h1 {
                    font-size: 2.5em;
                    line-height: 4rem;
                }
                .tag-dev {
                    font-size: 2.0em;
                }
                .row {
                    flex-direction: column;
                    width: 100%;

                    .button {
                        width: 100%;
                        text-align: center;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }

  }