@import '_variables';
@import 'functions';

header {
    left: 3%;
    top: 6%;
    position: fixed;
    background: transparent;
    z-index: 99999;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;

    .socialIcon {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      a {
        text-decoration: none;
        color: color(textLight);
        font-size: 26px;
        padding: 6px 0;
        i {
          &:hover {
            opacity: .8;
          }
        }
        
      }
    }
    .logo {
        width: 90px;
        height: auto;
      }
      
      
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        a, div{
            color: color(textColor);
            text-decoration: none;
            cursor: pointer;
            padding: 15px 30px;
            margin: 0 3px;
            font-weight: 600;
            font-size: 19px;
            transform: rotate(180deg);
            white-space: nowrap;
            writing-mode: vertical-rl;
            line-height: 1;
            letter-spacing: -0.5px;
          &:hover, &:active, &:focus, &:focus-visible,&:focus-within,&:target, &:visited {
            text-decoration: none;
            color: color(textColor);
            &:after {
                width: 30px;
                animation:grow 300ms forwards;
                border: 2px solid color(main);
              }
          }

          &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 90%;
            right: 25px;
            top: calc(5% - 1px/2);
            pointer-events: none;
          }
          
        }
      
        .active {
          &:after {
            width: 30px;
            border: 2px solid color(main);
          }
      }
    }

}


@keyframes grow {
    0% {
        height: 0px;
    }
    100%{
        height: 90%;
    }
}

#hamburger {
	width: 52px;
  right: 3%;
  top: 4%;
  position: fixed;
  z-index: 99999;
  g {
    stroke: color(textColor) !important;
  }
}



#hamburger {
	#top-line {
    transform-box: fill-box;
	  transform-origin: center;
		transform: translateY(0px);
	}
	#bottom-line {
    transform-box: fill-box;
	  transform-origin: center;
		transform: translateY(0px);
	}
	#middle-line {
    transform-box: fill-box;
	  transform-origin: center;
		opacity: 1;
	}
}

#hamburger:not(.open-menu):not(.initial-load) {
	#top-line {
		animation: down2-rotate 0.7s ease-out both;
	}
	#bottom-line {
		animation: up2-rotate 0.7s ease-out both;
	}
}

#hamburger.open-menu {
	#top-line {
		animation: down-rotate 0.7s ease-out both;
	}
	#bottom-line {
		animation: up-rotate 0.7s ease-out both;
	}
	#middle-line {
		animation: hide 0.7s ease-out forwards;
	}
}
@keyframes up2-rotate {
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	0% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
}
@keyframes up-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(-10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(-10px) rotate(45deg) scale(0.9);
	}
}
@keyframes down2-rotate {
	100% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	0% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
}

@keyframes down-rotate {
	0% {
		animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
		transform: translateY(0px);
	}
	30% {
		transform-origin: center;
		animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
		transform: translateY(10px);
	}
	100% {
		transform-origin: center;
		transform: translateY(10px) rotate(-45deg) scale(0.9);
	}
}

@keyframes hide {
	29% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}



// mobile responsiveness
.mobile-header {
  display: none;
}

@media (max-width: 1250px), (max-height: 690px) { 
  .header {
      display: none;
    }

    .mobile-header {
      display: block;
      .logo {
        width: 90px;
        height: auto;
        left: 3%;
        top: 4%;
        position: fixed;
        z-index: 9999;
      }
    }
    
    .parent-mobile.is-open {
      position: fixed;
      height: 100%;
      bottom: 0;
    }

    .parent-mobile {
      position: absolute;
      height: 0;
      width: 100%;
      bottom: 100%;
      padding: 3%;
      right: 0;
      transition: .7s ease;
      overflow: hidden;
      z-index: 99;
      backdrop-filter: blur(10px);
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    
      .mobile-content-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        nav {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          a,div {
            color: color(textColor);
            padding: 10px 0;
            width: 100%;
            text-align: center;
            font-size: 25px;
            &:hover {
              color: color(main);
            }
            
          }
          .active {
            color: color(main);
            font-weight: bold;
          }


        }

        .bottom-icon {
          display: flex;
          justify-content: space-between;
          .socialIcon {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
      
            a {
              text-decoration: none;
              color: color(textLight);
              font-size: 28px;
              padding: 0 6px;
              i {
                &:hover {
                  opacity: .8;
                }
              }
              
            }
            
          }

          .trigger {
            position: relative;
            top: 0;
            right: 0;
          }

        }
      }
    }
    
    
    
}



