@import '_variables';
@import 'functions';

.project {
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content {
        display: flex;
        align-items: center;
        
        .details {
            width: 40%;
            font-style: $font-raleway;
        }

        .image {
            width: 60%;

            img {
                width: 100%;
            }
        }
    }
}
.project-card {
    border: 1px solid color(main);
    text-decoration: none;
    color: color(textColor) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    border-radius: 0rem !important;
    .badge-project {
        color: color(bgColor);
        background-color: color(textColor);
        letter-spacing: 1.8px;
    }
}

.project-item-bg {
    background-size: cover;
    background-repeat: no-repeat;
	position: absolute;
    background-position: top right;
	opacity: 8%;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
}
.card-link {
    &:hover {
        .link {
            color: color(bgColor);
            --p: 100%;
        }
    }
}
.project-item-content {
    display: flex;
    justify-content: center;
    padding-top: 100px !important;
    .details {
        width: 60%;
        font-style: $font-raleway;

        h1 {
            text-transform: capitalize;
        }
        p{
            padding: 15px 0;
        }
        .link {
            font-size: sizes(fontSizeM);
            
        }
    }

    .tools {
        width: 40%;
        margin-left: 1.8rem;

        div {
            padding: 20px 0;
            font-size: sizes(fontSizeS);
            font-weight: 300;
            border-top: 1px solid color-mix(in lab, color(textColor) 20%, transparent);
            &:last-child {
                border-bottom: 1px solid color-mix(in lab, color(textColor) 20%, transparent);
            }
        }
        

    }

}


.paginator {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 3%;
    bottom: 6%;
    z-index: 999;
    button {
        padding: 15px;
        background-color: color(textColor);
        color: color(bgColor);
        border: 1px solid color(bgColor);
        outline: none;
        &:nth-child(1) {
            border-bottom: none;
        }
        &:hover {
            background-color: color(main);
            color: color(textColor);
        }
    }
 }

.tooltip-inner {
    background-color: color(textColor);
    box-shadow: 0px 0px 4px color(textColor);
    color: color(bgColor);
}

.tooltip.bs-tooltip-left .arrow::before {
    border-left-color: color(textColor);
}
.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: color(textColor);
}
@media screen and (max-width: 1333px) {
    .project {
        .content {
            .details {
                width: 45%;
                font-style: $font-raleway;
                padding-left: 5rem;
            }
            .image {
                width: 55%;
            }
        }
    }   
}

@media screen and (max-width: 1199px) {
    .project-item-content {
        .details {
            width: 70%;
        }
    
        .tools {
            width: 30%;
        }
    }
}


@media screen and (max-width: 1120px) {

    .project {
        .content {
            flex-direction: column-reverse;
            .details {
                padding-top: 5rem;
                width: 80%;
                font-style: $font-raleway;
                padding-left: 0;
            }
            .order-last {
                order: 0 !important;
            }
            .image {
                width: 60%;
            }
        }
    }
    
}



@media screen and (max-width: 780px) {

    .project {
        height: 800px;
        .content {
            .details {
                padding-top: 4rem;
                width: 100%;
            }
            .image {
                width: 70%;
            }
        }
    }
    .project-card {
        a {
            margin-top: 15px;
        }
    }
    .project-item-content {
        padding-top: 9rem !important;
        flex-direction: column;
        .details {
            width: 100%;
        }
    
        .tools {
            width: 100%;
            margin-left: 0;
            padding-top: 40px;
            div {
                font-size: sizes(fontSizeXS);
            }
        }
    }

    .paginator {
        right: 0%;
        bottom: 50%;
        button {
            padding: 10px;
        }
     }

}

@media screen and (max-width: 575px) {
    .project-row {
        margin: 0;
        padding-bottom: 5rem;
        .col-md-6 {
            padding: 0;
        }
    }
}

@media screen and (max-width: 470px) {
    .project {
        .content {
            .image {
                width: 100%;
            }
        }
    }
}
